<div>
	<%= render partial: 'sidebar' %>
	<!-- #Main ============================ -->
	<div class="page-container">
		<%= render partial: 'topbar' %>
		<!-- ### $App Screen Content ### -->
		<main class='main-content bgc-grey-100'>
			<%= render partial: 'flash_messages' %>
			<div id='mainContent'>
				<div class="row gap-20 masonry pos-r">
					<div class="masonry-sizer col-md-6 pos-a"></div>
					<div class="masonry-item  w-100">
						<div class="row gap-20">
							<div class='col-md-12 d-flex justify-content-between'>
								<h1 class="h3"><%= @facebook_page.name %>: <small class="text-muted"><%= @start_date.to_s(:rfc822) %> - <%= @end_date.to_s(:rfc822) %></small></h1>
								<div>
									<div class="input-group input-daterange">
										<input type="text" placeholder="Start date" id="daterange-start" class="form-control" value="<%= @start_date.to_s(:db) %>">
										<div class="input-group-prepend">
											<span class="input-group-text">to</span>
										</div>
										<input type="text" placeholder="End date" id="daterange-end" class="form-control" value="<%= @end_date.to_s(:db) %>">
										<div class="input-group-append">
											<button class="btn btn-outline-primary" type="button" id="datepicker-submit" disabled>GO</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="masonry-item  w-100">
						<div class="row gap-20">
							<!-- #Toatl Visits ==================== -->
							<div class='col-md-3'>
								<div class="layers bd bgc-white p-20"  data-toggle="tooltip" data-placement="top" title="Tooltip on top">
									<div class="layer w-100 mB-10">
										<h6 class="lh-1">Total Conversations</h6>
									</div>
									<div class="layer w-100">
										<div class="peers ai-sb fxw-nw">
											<div class="peer peer-greed">
												<span id="sparkline-total"></span>
												<!-- <h2><%= number_with_delimiter(@total_conversations) %></h2> -->
											</div>
											<div class="peer">
												<span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500"><%= number_with_delimiter(@total_conversations) %></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- #Total Page Views ==================== -->
							<div class='col-md-3'>
								<div class="layers bd bgc-white p-20">
									<div class="layer w-100 mB-10">
										<h6 class="lh-1">New Conversations</h6>
									</div>
									<div class="layer w-100">
										<div class="peers ai-sb fxw-nw">
											<div class="peer peer-greed">
												<span id="sparkline-new"></span>
												<!-- <h2><%= number_with_delimiter(@new_conversations) %></h2> -->
											</div>
											<div class="peer">
												<span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500"><%= number_with_delimiter(@new_conversations) %></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- #Unique Visitors ==================== -->
							<div class='col-md-3'>
								<div class="layers bd bgc-white p-20">
									<div class="layer w-100 mB-10">
										<h6 class="lh-1">Blocked Conversations</h6>
									</div>
									<div class="layer w-100">
										<div class="peers ai-sb fxw-nw">
											<div class="peer peer-greed">
												<span id="sparkline-blocked"></span>
												<!-- <h2><%= number_with_delimiter(@blocked_conversations) %></h2> -->
											</div>
											<div class="peer">
												<span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500"><%= number_with_delimiter(@blocked_conversations) %></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- #Bounce Rate ==================== -->
							<div class='col-md-3'>
								<div class="layers bd bgc-white p-20">
									<div class="layer w-100 mB-10">
										<h6 class="lh-1">Reported Conversations</h6>
									</div>
									<div class="layer w-100">
										<div class="peers ai-sb fxw-nw">
											<div class="peer peer-greed">
												<span id="sparkline-reported"></span>
												<!-- <h2><%= number_with_delimiter(@reported_conversations) %></h2> -->
											</div>
											<div class="peer">
												<!-- <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500">33%</span> -->
												<span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500"><%= number_with_delimiter(@reported_conversations) %></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="masonry-item col-md-12 d-none">
						<div class="bgc-white p-20 bd">
							<h6 class="c-grey-900">Easy Pie Charts</h6>
							<div class="mT-30">
								<div class="peers mT-20 fxw-nw@lg+ jc-sb ta-c gap-10">
									<div class="peer">
										<div class="easy-pie-chart" data-size='80' data-percent="75" data-bar-color='#f44336'>
											<span></span>
										</div>
										<h6 class="fsz-sm">Reported Conversations</h6>
									</div>
									<div class="peer">
										<div class="easy-pie-chart" data-size='80' data-percent="50" data-bar-color='#2196f3'>
											<span></span>
										</div>
										<h6 class="fsz-sm">New Conversations</h6>
									</div>
									<div class="peer">
										<div class="easy-pie-chart" data-size='80' data-percent="65" data-bar-color='#f44336'>
											<span></span>
										</div>
										<h6 class="fsz-sm">Blocked Conversations</h6>
									</div>
									<div class="peer">
										<div class="easy-pie-chart" data-size='80' data-percent="90" data-bar-color='#ff9800'>
											<span></span>
										</div>
										<h6 class="fsz-sm">Bounce Rate</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="masonry-item col-md-12">
						<div class="bgc-white p-20 bd">
							<h6 class="c-grey-900">New vs. Blocked and Reported Conversations over time</h6>
							<div class="mT-30">
								<canvas id="line-chart" height="420"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<%= render partial: 'footer' %>
	</div>
</div>

<% content_for :javascript do %>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script>
	function renderChart() {
		const lineChartBox = document.getElementById('line-chart');
		if (lineChartBox) {
			const lineCtx = lineChartBox.getContext('2d');
			lineChartBox.height = 80;

			new Chart(lineCtx, {
				type: 'line',
				data: {
					labels: <%= raw @facebook_page.format_for_chart(
						:raw_total_messaging_connections, 
						:end_time, @start_date, @end_date).map{|d| d.to_date.to_s(:db)} %>,
					datasets: [
					{
						label                : "<%= RawTotalMessagingConnection.title %>",
						backgroundColor      : 'rgba(237, 231, 246, 0.5)',
						borderColor          : COLORS['blue-500'],
						pointBackgroundColor : COLORS['blue-700'],
						borderWidth          : 2,
						data                 : <%= @facebook_page.format_for_chart(:raw_total_messaging_connections, :value, @start_date, @end_date) %>,
					}, 
					{
						label                : "<%= RawNewConversationsUnique.title %>",
						backgroundColor      : 'rgba(232, 245, 233, 0.5)',
						borderColor          : COLORS['green-200'],
						pointBackgroundColor : COLORS['green-300'],
						borderWidth          : 2,
						data                 : <%= @facebook_page.format_for_chart(:raw_new_conversations_unique, :value, @start_date, @end_date) %>,
					}, {
						label                : "<%= RawBlockedConversationsUnique.title %>",
						backgroundColor      : 'rgba(243, 229, 245, 0.5)',
						borderColor          : COLORS['purple-500'],
						pointBackgroundColor : COLORS['purple-700'],
						borderWidth          : 2,
						data                 : <%= @facebook_page.format_for_chart(:raw_blocked_conversations_unique, :value, @start_date, @end_date) %>,
					}, {
						label                : "<%= RawReportedConversationsUnique.title %>",
						backgroundColor      : 'rgba(255, 235, 238, 0.5)',
						borderColor          : COLORS['red-200'],
						pointBackgroundColor : COLORS['red-300'],
						borderWidth          : 2,
						data                 : <%= @facebook_page.format_for_chart(:raw_reported_conversations_unique, :value, @start_date, @end_date) %>,
					}],
				},
				options: {
					tooltips: {
						mode: 'index',
						intersect: false,
						callbacks: {
							label: function(tooltipItem, data) {
								var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
								value = value.toString();
								value = value.split(/(?=(?:...)*$)/);
								value = data.datasets[tooltipItem.datasetIndex].label + ": " + value.join(',');
								return value;
							}
						}
					},
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero:true,
								userCallback: function(value, index, values) {
									value = value.toString();
									value = value.split(/(?=(?:...)*$)/);
									value = value.join(',');
									return value;
								}
							}
						}],
						xAxes: [{
							ticks: {
							}
						}]
					}
				}
			});
		}
	}
	function runDatePicker() {
		$('.input-daterange input').each(function() {
			$(this).datepicker({
				format: "yyyy/mm/dd"
			}).on("changeDate", function() {
				$("#datepicker-submit").attr('disabled', false)
			});
		});
	}
	function datepickerSubmit() {
		$("#datepicker-submit").click(function() {
			var start_date = $("#daterange-start").val()
			var end_date = $("#daterange-end").val()

			var currentUrl = new URL(window.location.href)
			var query_string = currentUrl.search;
			var search_params = new URLSearchParams(query_string); 
			// new value of "id" is set to "101"
			search_params.set('start_date', start_date);
			search_params.set('end_date', end_date);

			// change the search property of the main url
			currentUrl.search = search_params.toString();

			// the new url string
			var new_url = currentUrl.toString();

			// output : http://demourl.com/path?id=101&topic=main
			window.location.href = new_url;
		})
	}

	function renderSparklines() {
		var data = {
			total: <%= @facebook_page.format_for_chart(:raw_total_messaging_connections, :value, @start_date, @end_date) %>,
			new: <%= @facebook_page.format_for_chart(:raw_new_conversations_unique, :value, @start_date, @end_date) %>,
			blocked: <%= @facebook_page.format_for_chart(:raw_blocked_conversations_unique, :value, @start_date, @end_date) %>,
			reported: <%= @facebook_page.format_for_chart(:raw_reported_conversations_unique, :value, @start_date, @end_date) %>,
		}
		var colors = [
			COLORS['blue-500'],
			COLORS['green-500'],
			COLORS['purple-500'],
			COLORS['red-500'],
		]
		var keys = Object.keys(data)
		for (var i = keys.length - 1; i >= 0; i--) {
			var el = $("#sparkline-" + keys[i]);
			if (el.length > 0) {
				$(el).sparkline(data[keys[i]], {
					type: 'bar',
					height: '20',
					barWidth: '3',
					resize: true,
					barSpacing: '3',
					barColor: colors[i],
				});
			}
		}
	}

	$(document).ready(function(){
		runDatePicker()
		renderChart()
		datepickerSubmit()
		renderSparklines()
	});
</script>
<% end %>