<!-- @App Content -->
<!-- =================================================== -->
<div>
	<%= render partial: 'sidebar' %>

	<!-- #Main ============================ -->
	<div class="page-container">
		<%= render partial: 'topbar' %>
		<!-- ### $App Screen Content ### -->
		<main class='main-content bgc-grey-100'>
			<%= render partial: 'flash_messages' %>
			<div id='mainContent'>
				<div class="row gap-20 masonry pos-r">
					<div class="masonry-sizer col-md-6"></div>
					<div class="masonry-item col-12 align-items-center border-bottom d-flex justify-content-between">
						<h5 class="lh-1">Organizations</h5>
						<%= link_to 'New Organization', new_organization_path, class: "btn btn-primary" %>
					</div>
					<div class="masonry-item  w-100">
						<div class="row gap-20">
							<% @organizations.each do |org| %>
							<div class='col-md-3'>
								<div class="layers bd bgc-white p-20">
									<div class="layer w-100 mB-10">
										<h6 class="lh-1"><%= link_to org.title, org %></h6>
									</div>
									<div class="layer w-100">
										<div class="peers ai-sb fxw-nw">
											<div class="peer peer-greed">
												<!-- <p><small><%= link_to 'Edit', edit_organization_path(org) %></small></p> -->
												<p><small><%= link_to 'Destroy', org, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger" %></small></p>
												<!-- <span id="page1"></span> -->
											</div>
											<div class="peer">
												<span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500"><%= org.users.length %> <i class="fas fa-users ml-2"></i></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</main>
		<%= render partial: 'footer' %>
	</div>
</div>