<!-- @App Content -->
<!-- =================================================== -->
<div>
	<%= render partial: 'sidebar' %>

	<!-- #Main ============================ -->
	<div class="page-container">
		<%= render partial: 'topbar' %>
		<!-- ### $App Screen Content ### -->
		<main class='main-content bgc-grey-100'>
			<%= render partial: 'flash_messages' %>
			<div id='mainContent'>
				<div class="row gap-20 masonry pos-r">
					<div class="masonry-sizer col-md-6"></div>
					<div class="masonry-item w-100">
						<div class="row gap-20">
							<div class="col-md-8">
								<div class="align-items-center border-bottom d-flex justify-content-between mb-2 pb-2">
									<h5 class="lh-1"><%= @organization.title %></h5>
									<%= link_to "Add new Facebook Page", omniauth_authorize_path(:user, :facebook, scope: "read_insights, pages_show_list"), class: "btn btn-primary" %>
								</div>
								<div class="row gap-20">
									<div class="col-md-12">
										<small><%= RawNewConversationsUnique.description %></small>
									</div>
									<% @organization.facebook_pages.each_with_index do |page, index| %>
									<div class='col-md-4'>
										<div class="layers bd bgc-white p-20">
											<div class="layer w-100 mB-10">
												<h6 class="lh-1"><%= link_to page.name, page %></h6>
											</div>
											<div class="layer w-100">
												<div class="peers ai-sb fxw-nw">
													<div class="peer peer-greed">
														<span id="fbpage-sparkline-<%= index %>"></span>
													</div>
													<div class="peer">
														<!-- <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">+10%</span> -->
													</div>
												</div>
											</div>
										</div>
									</div>
									<% end %>
								</div>
							</div>
							<div class="col-md-4">
								<h6>Invitation link</h6>
								<div class="input-group mb-3">
									<input id="clipboard-invitation-link" type="text" value="<%= url_for(controller: :application, action: :invitation, invitation_hash: @organization.encoded_id, only_path: false) %>" readonly class="form-control" />
									<div class="input-group-append">
										<button class="btn btn-outline-primary clipboard-copy-trigger" type="button" data-clipboard-target="#clipboard-invitation-link">COPY</button>
									</div>
								</div>
								<hr/>
								<h6>Owner</h6>
								<p><%= @organization.owner.full_name %></p>
								<hr />
								<h6>Members</h6>
								<ul>
									<% @organization.users.each do |user| %>
									<li><%= user.full_name %></li>
									<% end %>
								</ul>
								<hr/>
								<h6>Actions</h6>
								<ul>
									<li><%= link_to 'Edit organization', edit_organization_path(@organization) %></li>
									<li><%= link_to 'Destroy organization', @organization, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger" %></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- <div class="masonry-item w-100">
						
					</div> -->
				</div>
			</div>
		</main>
		<%= render partial: 'footer' %>
	</div>
</div>

<% content_for :javascript do %>
<script>

	$(document).ready(function(){
		var clipboard = new ClipboardJS('.clipboard-copy-trigger');
		clipboard.on('success', function(e) {
			alert("copied to clipboard!");
			e.clearSelection();
		});

		var sparklinesprefix = "fbpage-sparkline-";
		<% @organization.facebook_pages.each_with_index do |page, index| %>
			var el = $("#" + sparklinesprefix + <%= index %>);
			if (el.length > 0) {
				var data = <%= raw page.format_for_chart(
						:raw_new_conversations_unique, 
						:value, Date.today - 18.days, Date.today) %>
				$(el).sparkline(data, {
					type: 'bar',
					height: '20',
					barWidth: '3',
					resize: true,
					barSpacing: '3',
					barColor: '#4caf50',
				});
			}
		<% end %>
	});
</script>
<% end %>