<div class="container">
	<div class="row">
		<div class="col-8">
			<h1>Welcome, <%= current_user.full_name %></h1>
			<%= link_to "Add new Facebook Page", omniauth_authorize_path(:user, :facebook), class: "btn btn-primary" %>
			<hr/>
			<% @insights.each do |insight| %>
				<h3>Insights for <%= insight[:page_name] %></h3>
				<pre style="height: 200px;"><%= JSON.pretty_generate(insight[:page_insights]) %></pre>
			<% end %>
		</div>
		<div class="col-4">
			<h3>Organizations</h3>
			<%= link_to 'New', new_organization_path, class: "btn btn-primary" %>
			<hr/>
			<ul>
			<% @organizations.each do |org| %>
				<li><%= link_to org.title, org %></li>
			<% end %>
			</ul>
		</div>
	</div>
</div>