<!DOCTYPE html>
<html>
	<head>
		<title>Bothealth</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<%= "<div class='alert alert-primary mb-0' role='alert'>#{notice}</div>".html_safe if !notice.nil? %>
		<%= "<div class='alert alert-danger mb-0' role='alert'>#{alert}</div>".html_safe if !alert.nil? %>
		<div id='loader'>
			<div class="spinner"></div>
		</div>
		<!-- <ul class="hmenu">
			<%= render 'devise/menu/registration_items' %>
			<%= render 'devise/menu/login_items' %>
		</ul>
		<hr/> -->
		<%= yield %>
		
		<script>
			window.addEventListener('load', function load() {
				const loader = document.getElementById('loader');
				setTimeout(function() {
					loader.classList.add('fadeOut');
				}, 300);
			});
		</script>
	</body>
</html>
